<%--
  Created by IntelliJ IDEA.
  User: SocialAvesDev1
  Date: 8/31/2017
  Time: 4:15 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
%{--<g:if test="${session['user_id']}">--}%
%{--<meta name="layout" content="header">--}%
%{--<div class="container-fluid">--}%
%{--<g:if test="${flash.message}">--}%
    %{--<div class="alert alert-success fade in">--}%
        %{--<button class="close" data-dismiss="alert">x</button>--}%
        %{--<i class="fa-fw fa fa-check"></i>${flash.message}--}%
    %{--</div>--}%
%{--</g:if>--}%

%{--<div class="col-md-offset-3 col-md-6">--}%
    %{--<p><b>Name</b>: ${user.name}</p>--}%
    %{--<p><b>Gender</b>: ${user.gender}</p>--}%
    %{--<p><b>Info</b>: ${user.info}</p>--}%
    %{--<p><b>Email</b>: ${user.email}</p>--}%
    %{--<p><b>Password</b>: ${user.password}</p>--}%
    %{--<h2><b>Intrests</b></h2>--}%
    %{--<ul style="list-style: none;color: green">--}%
        %{--<g:each in="${user.interest}" var="interest">--}%
            %{--<li>${interest.interest}</li>--}%
        %{--</g:each>--}%
    %{--</ul>--}%
%{--</div>--}%
%{--</div>--}%
%{--</g:if>--}%
%{--<g:else>--}%

    %{--<g:link controller="todo" action="login">Login First</g:link>--}%
%{--</g:else>--}%
