body{
    background-color: #f7f7f7;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.todo-list{
    padding-top: 20px;
}
.title{
    font-size: 28px;
    padding: 20px;
    color: darkblue;
}
.todo-list .todo-ul{
    list-style-type: none;
    /*padding-top: 40px;*/
}
.todo-list .todo-ul li{
    position: relative;
    background-color: #EEEEF1;
    padding: 10px;
    box-shadow: black 5px 5px 5px;
    margin-top: 30px;
}
.todo-ul li .task{
    font-size: 20px;
    font-weight: 400;
}
.todo-ul li .tag{
    display: inline-block;
    padding: 5px;
    background-color: #b2d1ff;
    font-weight: 600;
    font-size: 11px;
    margin-top: 20px;
}

.pending-task .headings, .completed-task .headings{
    padding-left:40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 800;
    display: block;
    color: darkblue;
}
.pending-task .headings{
    background-color: #FAFF82;
}

.completed-task .headings{
    background-color: #FB80FF;
}
.pending-task{
    background-color: #FCFFAA;
}
.completed-task{
    background-color: #FCAAFF;
}
.change-status{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    background:rgba(255,255,255,0.7);
    top:-0px;
    left: -0px;
    cursor: pointer;
}
.change-status p{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #d92626;
}