<%--
  Created by IntelliJ IDEA.
  User: madhu-pc
  Date: 9/2/2017
  Time: 7:44 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title> Dashboard</title>
</head>

<body>
<h1> WELCOME ${userInformation.name}</h1>

</body>
</html>