<%--
  Created by IntelliJ IDEA.
  User: madhu-pc
  Date: 9/2/2017
  Time: 2:54 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
    <p>This is Home</p>
</body>
</html>